#html{
    font-size: 82.5%;
}

body {
    margin: 0;
    color: #212529;
    background-color: #fff;
    overflow-x: hidden;
        }

#nav_cont a:hover{
    color:#2EC07A;
}
button[type="submit"]:hover{
    background-color: #19955D;
}

#index_top_banner{
    max-width:100%;
    min-height: 5em;
    background-color: #2EC07A;
}
#index_top_banner>p{
    color:#FFFFFF;
    font-size:1.8rem;
    font-family:"Lato", Lato, "Open Sans";
    margin:auto;
       padding-top: 1rem;
    text-align: center;
}

 #nav_cont{
     padding:1.2rem 1.5% 1.5% 2rem;
     max-height: 7.5rem;
     max-width: 100%;
     border-bottom: .1rem solid lightgrey;
     background-color: #FFFFFF;
     position: sticky;
     top:0;
     box-sizing: border-box;
    overflow: hidden;
     display: flex;
 }
     #nav_menu_cont{
     display: none;
    
 }
 #nav_logo_img{
    height: 4rem;
    max-width: 8rem;
    margin-left:3%;
 }
#nav_ele{
   font-family:"Lato", Lato, "Open Sans";
   font-size: 1.5rem;
   max-height: 6rem;
   width:90%;
   color:#313647;
   box-sizing: border-box;
   display: flex;
   flex-direction: row-reverse;
   

}
#nav_anchor_fill_startinvesting {
    font-family: "Lato", Lato, "Open Sans";                  
   background-color:   #20C178;  
   border: .2rem solid  #20C178;
   margin: 0 1.5% 1% 1.5%;
   padding: 1% 2.7% 2.5% 2.7%;
   border-radius: .3rem;
   text-decoration: none ;
   
  
   

   
}
#nav_anchor_fill_startinvesting:hover{
    background-color: #19955D;
}

#nav_anchor_fill_startinvesting span{
    color:white;
    
}
#nav_anchor_getfunding{
     color:#212529;
    font-family: "Lato", Lato, "Open Sans";
    margin: 0 1.5% 1% 1.5%;
    padding: 1% 2.7% 2.5% 2.7%;
    text-decoration: none ;
    border: .2rem solid  #20C178;
    border-radius: .3rem;
    /* float:right; */
}
#nav_anchor_getfunding:hover{
    color: #19955D;
}

#nav_anchor_Signin{
    font-family: "Lato", Lato, "Open Sans";
    color:#212529; 
    text-decoration: none ;
    margin: 0 1.5% 1% 1.5%;
   padding: 1% 2.7% 1% 2.7%;
    /* float:right; */
    
    
}

#nav_transition {
display: none;
}

.index_nav_drop{
    /* position: absolute;
      top:10.9rem;
       left:78%; */     
    position: sticky;              
    top:7.5rem; 
    float:right; 
    width:30rem;
    background-color: #fff;
    color: #313647;
    padding:0 5%;
    font-family: "Lato",Lato,"Open Sans";
    font-size: 1.6rem;
    box-sizing: border-box;
    display:none;
}


#cont_sigin{
    padding-top: 0.8%;
    width:100px;
}

#index_element_wrap_front_div{
    display: flex;
    min-height: auto;
    max-width: 100%;
    clear: both;
    border-bottom: .1rem solid lightgray;
    box-sizing: border-box; 
    overflow: hidden;  
   
}
#index_front_div_left{
    display: flex;
    flex-direction: column;
                  
    height: auto;
    max-width: 51%;
    padding: 4% 0 0 4%;            
    box-sizing: border-box;
    text-align: left;
    flex-grow: 1;
  
}
#index_img_attachment_large{
    height: auto;
    width: 60%;
  object-fit: contain;
  flex-grow: 1;
}
#index_front_display_text_green{    
    font-family: "Lato",Lato,"Open Sans";
    font-size: 2rem;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .1rem;
    color: #20C178;   
      }
      #index_front_display_heading{
        font-family: "Lato", Lato, "Open Sans";
        font-size: 4.5rem;
        font-weight:800;
        color:  #313647;
        max-height: 10.72rem;
        max-width: 41.96rem;
       
      }


#index_front_display_text{ 
    font-family: "Lato", Lato, "Open Sans";
    font-size: 1.6rem;
    font-weight: 450;
    letter-spacing: 0.05rem;
    line-height: 2.88rem;
    color:#4F4F4F;
    height: 8.64rem;
    width: 52.36rem;
   
}
#index_front_display_button_startinvesting{
    font-family: "Open Sans", Lato, "Open Sans";
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    line-height: 1.6rem;
    text-decoration: none solid rgb(249, 249, 249);
    text-align: center;
    word-spacing: .0rem;
    background-color:  #2EC07A;
    max-height: 6rem;
    max-width: 20.0837rem;
    border: .2rem double  #2EC07A;
    padding: 2rem;
    border-radius:.4rem;
    margin-right: 2rem;
   
}#index_front_display_button_startinvesting span{ color:white;}
#index_front_display_button_startinvesting:hover{background-color: #19955D;}
#index_front_display_button_explorestartups{
font-family: "Open Sans", Lato, "Open Sans";
font-size: 1.6rem;
letter-spacing: 0.02rem;
line-height: 1.6rem;
text-decoration: none solid rgb(46, 192, 122);
text-align: center;
height: 6rem;
width: 20.0837rem;
border: .2rem double  #2EC07A;
padding: 2rem 1.5rem 2rem 1.5rem;
border-radius: .4rem;

} #index_front_display_button_explorestartups span{ color:#2EC07A;}
#index_front_display_button_explorestartups span:hover{ color:black;}

#index_element_wrap_statistics{
margin: 2rem 0 0 10rem;
padding:.5rem auto;
box-sizing: border-box;
max-width:98%;     
padding: auto;   
display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
    box-sizing: border-box;


}

.index_stat_cont{
                                      width:100%; margin:1%;
  text-align: center;
  font-family: Lato, Lato, "Open Sans";   
  font-weight: 700; 
  letter-spacing: 0.031rem;  
  line-height: 3.2rem;
  
}
.index_stat_cont h2{

font-size: 7.4rem;
color: #2EC07A;
}
.index_stat_cont h3{

   font-size: 2.4rem;
  
   text-decoration: none solid rgb(57, 57, 57);
  
   max-height: 3.2rem;                               
   max-width: 100%;
   margin:auto;
}
.index_stat_cont p{
   
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-decoration: none solid rgb(91, 94, 109);

    max-height: 7.2rem;
    max-width: 100%;
    margin:auto;
    word-spacing: 0rem;
    color:  #5B5E6D;
    
}
#index_heading_for_container_wrap{
font-family: "Open Sans";
font-size: 2.2rem;
font-weight: 600;
letter-spacing: -0.03rem;
line-height: 2.16rem; 
text-decoration: none solid  #20C178;
text-align: center;
text-transform: capitalize;
color: #20C178;
max-width:100%;
text-align: center;


}
#index_btn_see_all_companies{
font-family: Lato, Lato, "Open Sans";     
text-align: center;
background-color:  #2EC07A;
border:1px solid #2EC07A;
height: 5.76rem; 
width: 31rem;
padding: 2rem 8rem 2rem 8rem;
border-radius: .3rem;
margin-left: 38%;
   
}
#index_btn_see_all_companies span{
 font-family: "Lato", Lato, "Open Sans";
 font-size: 1.7rem;
 font-weight: 500;
 letter-spacing: 0.02rem;
 line-height: 1.8rem;
 text-align: center;
 color:  #F9F9F9;
 
}
#index_cont_enter_email_section
{                                                     
    max-width:100%;
    padding: 15rem 2rem 0rem 6rem;
   display: flex;
  
}
#index_cont_enter_email_section >p{
 font-family: Lato;
text-align: left;
color:black;
font-size: 2.2rem;
font-weight: 400;
width:42rem;
font-weight: 400;
                                                          
} 
#index_cont_enter_email_section span{
 color:#20C178;

}
#index_cont_enter_email{ 
    margin: .7rem 0 0 3rem;
    
  
}
#index_cont_enter_email input{
 line-height: 2.1rem;
 font-size: 1.5rem;                                     
 height: 4rem;
 width:33rem;
 border: .1rem solid #818a91;
 border-radius:.3rem;
 box-sizing: border-box;
 margin-right: 0; 
                                                        

}
#index_cont_enter_email button{
font-family: "Lato", Lato, "Open Sans";
margin-left: 0; 
font-size: 1.5rem;
 font-weight: bolder;
 letter-spacing: 0.02rem;
 line-height: 1.5rem;
 color: #FFFFFF; 
 height: 4rem;
 width: 20.8rem;
 background-color: #2EC07A;
 border: .1rem solid #2EC07A;
 border-radius: .3rem;
} 
#index_cont_enter_email button:hover{
    background-color: #19955D;
}
input[type="email"]:invalid{
    color:red;
} 
#index_email_valid{
    display:block;
}
#index_cont_wrap_be_a_shark{
    min-height: 47rem;
    min-width:100%; 
    margin-top: 10rem;                                   
    box-sizing: border-box;
    display: flex;         
}

#index_cont_be_a_shark_left{
 padding-left: 7rem;
 font-family: "Lato", Lato, "Open Sans";
 flex-grow: 1;
}
#index_be_a_shark_heading_div{
 max-height: 24rem;
 max-width:95%;
 box-sizing: border-box;        
 padding-top: 16rem;
 font-weight: bolder;     
 
 
}
#index_cont_be_a_shark_left> p{
 max-width: 44rem;
 height: 4.8rem;
 font-size: 1.6rem;
 font-weight: 500;
 letter-spacing: 0.02rem;
  line-height: 2.4rem;
 color:#4F4F4F;



} 
#index_img_be_a_shark{
margin-right: 7rem; 
max-height: 47rem;
 max-width:45rem;
 flex-grow: 1;
}


#index_cont_build_portfolio_investments{
    min-width:100%;
     max-height: 57rem;
     padding: 2rem 2rem 0 2rem;       
     box-sizing: border-box;          
     display: flex;       
}
#index_img_build_portfolio_investment{
    max-width: 35%;
    margin-left: 10%;         
      height: 34.7rem; 
}
#index_div_right{
    font-family: "Lato", Lato, "Open Sans";
    letter-spacing: 0.02rem;
    line-height: 2.2rem;
    color: #313647;         
   
}
#index_div_right>h2{
    
    padding: 10% 2% 0 15%; 
    font-size: 3rem;
    line-height: 3.5rem;
}
#index_div_right>p{
    padding: 0 2% 0 15%;
    font-size: 1.6rem;         
    font-weight: 400;
    max-width:75%;
}




#index_cont_track_your_investments{
    min-width:100%;
     max-height: 57rem;
  
     padding-top: 6rem;      
     box-sizing: border-box;   
     display: flex;       
}
#index_img_track_your_investment{
    max-width: 45%;
       
}
#index_div_left{
    font-family: "Lato", Lato, "Open Sans";
    letter-spacing: 0.02rem;
    line-height: 1.2em;
    color: #313647;
    box-sizing: border-box;
   
}
#index_div_left>h2{
    
    padding: 25% 2% 0 10%;
    font-size: 3rem;
}
#index_div_left>p{
    padding-left: 10%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}
   

#index_cont_success_stories{
    font-family: "Lato", Lato, "Open Sans";
    max-width: 100%;
    margin:5rem 3rem 3rem 4rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4F4F4F;
    text-align: left;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
    box-sizing: border-box;
    text-align: center;
  
}

#index_card_heading_success_stories{
    text-align: center;
    padding-left:5rem;   font-size: 3.8rem;}
.index_card_success_stories{
    width:100%;
    
}
.index_card_success_stories_middle{
    height: 69.8rem;
    color:#212529;
    
}
.index_card_success_stories_investment{
    display: inline;margin-left: 15rem;
}

.index_card_success_stories_raised{
    display:inline;
    
}
.index_success_stories_picture{
    max-height: 34.7rem;
    max-width:32.7rem;
    display: block;
    margin:auto;

}
#index_cont_success_stories .index_logo{vertical-align: middle;}
#index_cont_success_stories h2{ 
   margin-left: 3rem;
   
    display:inline;
}
.index_card_success_stories_sub_h3{
    display:inline;
    font-size: 2.1rem;
}
.index_card_success_stories_sub_h3_pad{
    margin-left: 15rem;  font-size: 2.1rem; 
}




#index_cont_slider{
    max-width: 100%;  display: none;
}
.slide{
    display: flex;
    max-width: 100%;
   
    position: relative;
}
.slide>img{
    max-width: 100%;
    height: auto;
}
.radio_btn{
  
   padding-left:60rem;
}




#index_cont_learn_more_blog{
    margin: 12% 8%;
   font-family: "Lato", Lato, "Open Sans";
   letter-spacing: 0.02rem;
   line-height: 2.2rem;
   color: #313647;
   display:grid;
   grid-template-columns: 30% 30% 30%;
   grid-gap: 3%;
    box-sizing: border-box;
}
.index_card_learn_more_blog{
 box-sizing: border-box;
  text-align: center;
  vertical-align: middle;


}
.index_card_learn_more_blog h3{
    font-size: 2.1rem;
}
.index_card_learn_more_blog p{
    color:#979797;
    font-size: 1.6rem;
}
.index_card_learn_more_blog img{
   max-width:100%;
   height: auto;
   margin:auto;
  
    
   
   
}

#index_footer_container{
    border-top: .1rem solid lightgray;
    margin-top: 15%;
}

#index_footer_about{
    max-width:100%;
    display: flex;
    font-family: Lato, Lato, "Open Sans";
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    line-height: 1.95rem;
    color:  #5B5E6D;      
}
#index_footer_about .index_footer_div{
    
    margin:1%;
    box-sizing: border-box;
    flex-grow: 1;
}
#index_footer_reserved_rights{
    max-width:40%;
    margin: 0;  
}

.index_footer_div_1{
    max-width:20%;
    padding-left: 10%;
}
#index_footer_div_img_logo{
    margin-top: 15%;
    max-width:48%;
}
.index_footer_div_heading{
    font-weight: 800;
    font-size: 1.6rem;
    color: #212529;
}





#index_important_message{
    max-width:100%;
    margin:10%;
    font-family: Lato, Lato, "Open Sans";
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    line-height: 1.95rem;
    color:  #5B5E6D;
}
.index_important_message_bold {
    font-weight: bold;
    
}
.index_important_message_bold a{
    text-decoration: none;
 color:#2EC07A;
}


@media only screen and (max-width:1196px){
    #html{
        font-size:65%;
    }
}



@media only screen and (max-width:1100px){
    #html{
        font-size:55%;
    }
}
@media only screen and (max-width:964px) {
    #html{
        font-size:50%;
    }

    #nav_ele{
        display: none;
    }
    #nav_menu_cont{
        width:90%;
        display: flex;
        flex-direction: row-reverse;
    }
    #index_element_wrap_front_div{
      flex-direction: column-reverse;
    }

    #index_front_div_left{
        flex-direction: row;
        min-width:100%;
        font-size: 11rem;
        
        
    }
    #index_mini_logout_p{
        padding-left: 4%;
    }
    #index_front_div_button{
        display: flex;
        padding-top: 25%;
        text-align: center;
    }
    
    #index_img_attachment_large{
    
      width: 100%;
    }

    #nav_transition{
        display: flex;
        flex-direction: column;
        position: fixed;
        min-width:100%;
        height: 27rem;
        background-color:#FFFFFF;
        visibility: hidden;
        /* display: none; */
        flex-direction: column;
        padding:1%;
        font-size: 1.5rem;
    }
    #nav_transition>ul{
        list-style-type:none;
        font-size: larger;
       
    }
    #nav_transition>ul>a{
        text-decoration: none;
        
    }
    #nav_anchor_fill_startinvesting_transiton{

        font-family: "Lato", Lato, "Open Sans";                  
        background-color:   #20C178;  
        border: .2rem solid  #20C178;
        margin: 0 1.5% 1% 1.5%;
        padding: 1% 2.7% 2.5% 2.7%;
        border-radius: .3rem;
        text-decoration: none ;
        color: #fff;
        display: block;

    }
    #nav_anchor_getfunding_transition{
        color:#212529;
        font-family: "Lato", Lato, "Open Sans";
        margin: 0 1.5% 1% 1.5%;
        padding: 1% 2.7% 2.5% 2.7%;
        text-decoration: none ;
        border: .2rem solid  #20C178;
        border-radius: .3rem;
        display: block;

    }
    #drop_username_mini{
        font-family: "Lato", Lato, "Open Sans";
        margin: 0 1.5% 1% 1.5%;
        padding: 1% 2.7% 2.5% 2.7%;
        text-decoration: none ;
        font-size: 1.5rem;
        display: block;
    }

    

    
}
@media only screen and (max-width:840px) {
    #html{
        font-size: 45%;
    }
.index_stat_cont{
  text-align: unset;
}
    #index_element_wrap_statistics{
        grid-template-columns: none;
    }
    #index_cont_success_stories{
        display:grid;
        grid-template-columns:none ;  
        
    }
    .index_success_stories_picture p{
        width: 50%;
    }

    
    #index_cont_learn_more_blog {
        grid-template-columns:none ;
    }
    .index_card_learn_more_blog img{
        max-width:60%;
    }

   
    #nav_transition :hover{

    }

}
@media only screen and (max-width:640px) {
    #html{
        font-size: 40%;
    }
}
@media only screen and (max-width:555px) {
    #html{
        font-size: 30%;
    }
}